.project-section {


    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;


}



.project-section h2 {

    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: #f1eff5;
    font-size: 28px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 10px;
    border-bottom: .5px solid rgb(23, 4, 129);

}



.project-container {

    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    padding: 25px 20px;
    width: 90%;
    gap: 8px;
    column-gap: 20px;


}


.project {
    display: flex;
    gap: 8px;
    padding: 16px 4px 20px 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
    background: #333381;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(22, 22, 21, 0.363);


}

.project img {

    width: 95%;
    border-radius: 1px;
    margin-bottom: 4px;


}



.project p {

    text-align: center;


}

.project #project-name {


    font-weight: 600;
    color: rgb(19, 167, 226);

}

.project #project-para {


    color: whitesmoke;

}

.project p:nth-child(3) {

    color: rgba(12, 12, 12, 0.788);
    margin-top: -5px;
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.button-project {

    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 8px;
    font-size: 16px;
    color: rgba(206, 196, 196, 0.637);


}

.button-project p:nth-child(1) {


    border-bottom: .5px solid gray;


}

.button-project p:nth-child(2) {

    border-bottom: .5px solid gray;



}



/* ============ media query ================================== */



@media only screen and (max-width:1070px) {

    .project-container {


        grid-template-columns: 250px 250px 250px;



    }



    .project-section h2 {

        font-size: 24px;


    }



}

@media only screen and (max-width:800px) {


    .project-container {

        grid-template-columns: 240px 240px;
        margin-top: -30px;
    }



    .project-section {

        margin-bottom: 90px;

    }


}


@media screen and (max-width:500px) {


    .project-section h2 {
        font-size: 26px;
        font-family: robot;
        font-weight: 700;
        color: #2f0c68;


    }



    .project-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -16px;

    }





    .project {
        width: 280px;
    }



}