.services {

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
 justify-content: center;
    align-items: center;
    margin-bottom: 120px;


}

.services h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(238, 238, 243);
    border-bottom: .5px solid rgb(32, 11, 66);
}

.horizontal-align {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

#ul-service {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

#ul-service>li {

    list-style: disc;
    width: 100%;
    font-size: 23px;
    color: rgb(124, 10, 238);

}

#ul-service>li:hover {

    cursor: pointer;
    color: aquamarine;
}

.service-img {

    width: 200px;

}

@media only screen and (max-width:600px) {


    .services h2 {
     font-size: 25px;
    
}

    .horizontal-align {

        flex-direction: column-reverse;
        justify-content: center !important;
        align-items: center !important;
        gap: 12px;
    }

    #ul-service {

        width: 100%;
        text-align: center;
        margin: auto;
        gap: 0;
        display: flex;
        flex-direction: column;
        position: static;
        background:none; 
        padding: 0;
         
    }

    #ul-service>li {

        font-size: 19px;
    }

    .service-img {

        width: 150px;

    }

}